[submodule "MusicArchive-iOS"]
	path = MusicArchive-iOS
	url = https://github.com/jescriba/MusicArchive-iOS.git
[submodule "MusicArchive-Web"]
	path = MusicArchive-Web
	url = https://github.com/jescriba/MusicArchive-Web.git
